* {
    box-sizing: border-box;
    text-rendering: optimizeLegibility;
    font-kerning: auto;
    outline: 0 !important;
}

html {
    font-family: sans-serif;
}

body {
    margin: 0;
    overflow: hidden;
    background-color: #000;
}

html, body, #app {
    width: 100%;
    height: 100%;
}

#app {
    position: relative;
}

.renderer {
    width: 100%;
    height: 100%;
}




#gui {
	position: fixed;
	top:1rem;
	left:1rem;
	width: 100vw;
    font-size: 1rem;
    font-weight: bold;
	color: #fff;
	padding: 0;
}

#gui #gui--right{
	position: fixed;
	top:1rem;
	right:1rem;
	text-align: right;
}
#gui #gui--left{
	position: fixed;
	top:1rem;
	left:1rem;
}

#gui .keybinds--wrap{
    display: flex;
    flex-flow:column;
    align-items: flex-start;
    justify-content: flex-start;
}

#gui .keybinds--keyboard--row{
    display: flex;
    flex-flow: row;
}

#gui .keybinds--keyboard--key{
    display: flex;
    flex-flow: column;
    text-align:center;
    line-height: 50px;
    width: 50px;
    height: 50px;
    margin: 2px;
    border: 2px solid #fff;
    border-radius: 5px;
}



*[id^="keys--"]{
	color:#fff;
}
#gui #gui--left .gui--category .keybinds--wrap .keybinds--keyboard .activeClass {
    color:#0f0;
    border: 2px solid #0f0;
    background-color: rgba( 0, 255, 0, 0.5);
}
#gui #gui--left p.activeClass {
    color:#0f0;
}

#gui--stats--health span{
	color: #c00
}
#gui--stats--energy span{
	color: #00c
}
#gui--stats--defense span{
	color: #aaa;
}
#gui--stats--speed span{
	color: #0a0;
}
#gui--stats--damage span{
	color: #a40;
}



#menu {
    display: flex;
    position: fixed;
    top:0;
    left:0;
    width: 100vw;
    height:100vh;
    flex-flow: column;
    align-items: center;
    justify-content: center;
}

#menu::before{
    content: '';
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    filter:blur(14px) opacity(85%);
    width: 100%;
    height: 100%;
    position: absolute;
    top:0;
    left:0;
    z-index: -1;
}

#menu .menuButton:hover {
    color: #0f0;
}

#menu .menuButton:active {
    color: #0aa;
}

#menu .menuItemWrapper {
    margin:1vw 0;
    cursor: pointer;
}

#menu *{
    color: #fff;
    font-size: calc( 0.5vw + 6px );
    font-weight: 900;
    text-shadow: 1px 1px 1px #000;
}

#menu .menuItemWrapper label{
    margin: 10px;
}

.menuToggle {
    display: none !important;
    z-index: 10;
}

#menu input, #menu select {
    background-color: rgba(0,0,0,0.25);
}
#menu option {
    background-color: #444
}

.preMenu {
    text-align: center;
}

.debugMode {
    position: absolute;
    top: 0;
    left: 0;
    width:100%;
    text-align: center;
    font-size: 2vw;
    color: #a40;
}
